.posts__table {
  tr:hover {
    cursor: pointer;
  }
}

.posts__linkBox {
  a {
    margin: 0 8px;
  }
}

.posts__searchForm {
  display: inline-block;
}

.posts__select {
  display: inline-block;
  width: auto;
}