<div class="d-flex align-items-center">
  <h1>掲示板作成</h1>
  <div class="ml-auto posts__linkBox">
    <%= link_to '一覧', posts_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<%= render partial: 'form', locals: { post: @post } %>

