<% @categories.each do |category| %>
  <ul class="list-group list-group-flush" style="max-width: 400px">
    <li class="list-group-item"><%= link_to "#{category.name}", category_path(category), id: category.id, :style=>"color: black;" %></li>
  </ul>
<% end %>