<h1>Categorys#index</h1>
<p>Find me in app/views/categorys/index.html.erb</p>
<% @categories.each do |category| %>
  <p><%= link_to "#{category.name}", category_path(category), id: category.id %></p>
<% end %>